body {
	background-color: #1D91B8;
	color:#000;
}

.event-item.ng-enter {
  -webkit-transition:1s linear all;
  transition:1s linear all;
  background-color: yellow;
}
.event-item.ng-enter-active {
  background-color: white;
}

#sendbutton {
	margin-top: 5px;
}

#hello-list {
	margin-top: 10px;
	border-top: 1px grey solid;
	background-color: #fff;
}

.event-date {
	color: #aaa;
}