<!DOCTYPE html>
<html ng-app="Contacts">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="style.css">
<title>Contacts</title>
</head>
<body>
<div class="container">

<div ng-controller="ContactListCtrl">
	<div class="alert alert-info" ng-hide="contacts.length"><span class="glyphicon glyphicon-info-sign"></span> Sie haben noch keine Kontakte!</div>
	<div ng-show="contacts.length">Anzahl Kontakte <span class="badge">{{contacts.length}}</span> <input type="text" ng-model="search" placeholder="Filter"/></div>
	<table class="table table-hover" ng-show="contacts.length">
		<tr ng-repeat="contact in contacts | filter:search" class="contact-item">
			<td>{{contact.name}}</td>
			<td>{{contact.email}}</td>
			<td><a href class="btn btn-default btn-sm" ng-click="remove($index)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</a>
		</tr>
	</table>
</div>

<div ng-controller="ContactEditCtrl">
	<form name="editForm" novalidate>
	<input type="text" id="nameInput" name="nameInput" ng-model="contact.name" placeholder="Name" required />
	<input type="email" id="emailInput" name="emailInput" ng-model="contact.email" placeholder="E-Mail" />
	<button type="submit" class="btn btn-default btn-sm" ng-click="add(contact)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
	</form>
	<div ng-show="submitted && editForm.nameInput.$error.required" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Name erforderlich.</div>
	<div ng-show="submitted && editForm.emailInput.$error.email" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> E-Mail falsch.</div>
	<div ng-show="messages" class="alert alert-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{messages}}</span></div>
</div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular-animate.js"></script>
<script src="app/app.js"></script>
</body>
</html>